*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSize-200: 16px;
  --fontSize-300: 20px;
  --fontSize-400: 24px;
  --fontSize-500: 32px;

  --lineHeight-1: 1;
  --lineHeight-1-1: 1.1;
  --lineHeight-1-4: 1.4;

  --bg-color: 248 80% 98%;
  --muted-color: 248 15.7% 80%;
  --text-color: 246 76% 4.9%;
  --accent-color: 245 75% 54.5%;
  --accent-color-2: 40 98.2% 43.7%;

  --space-sm: clamp(0.4rem, 1.5vw, 0.8rem);
  --space-md: clamp(1rem, 2.5vw, 1.4rem);
  --space-lg: clamp(2rem, 4vw, 2.2rem);

  --contentL: 50ch;

  --round-sm: 4px;
  --round-md: 10px;
  --round-lg: 15px;
  --round-full: 100vmax;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: var(--space-lg);

  font-family: Inter, Avenir, Arial, Helvetica, sans-serif;
  font-size: var(--fontSize-400);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: hsl(var(--bg-color));
  color: hsl(var(--text-color));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--lineHeight-1-4);
  font-size: var(--fontSize-500);
}

small {
  font-size: var(--fontSize-200);
  line-height: var(--lineHeight-1);
}

.uppercase {
  text-transform: uppercase;
}

.stack-lg {
  display: grid;
  gap: var(--space-lg);
}

.stack-md {
  display: grid;
  gap: var(--space-md)
}

.stack-sm {
  display: grid;
  gap: var(--space-sm);
}